* {
    margin: 0;
    border: 2px solid red;

}


a:link {
    color: none;
}

a:visited {
    color: yellow;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}

a:link, a:visited {
    text-decoration: none;
}

.nav-container {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    background-color: #010101;
    font-weight: 800px;
    font-size: 25px;
    padding: 20px; 
}

.nav-container > * {
    color: yellow;
    margin-top: 10px;
  
} 

.nav-logo {
    margin-left: 24x;
    font-family: Chalkduster, fantasy;
    font-size: 34px;
    color: red;
    text-shadow: 1px 1px yellow;
    margin: auto;
    
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
}

img {
    width: 300px;
    height: 300px;
}

.content {
    width: 600px;
}

.achieve {
    display: flex;
   
}