* {
    margin: 0;
    border: 2px solid red;

}


a:link {
    color: none;
}

a:visited {
    color: yellow;
}

a:hover {
    color: white;
}

a:active {
    color: red;
}

a:link, a:visited {
    text-decoration: none;
}

.nav-container {
    display: flex;
    gap: 8px;
    align-items: flex-start;
    background-color: #010101;
    font-weight: 800px;
    font-size: 25px;
    padding: 20px; 
}

.nav-container > * {
    color: yellow;
    margin-top: 10px;
  
} 

.nav-logo {
    margin-left: 24x;
    font-family: Chalkduster, fantasy;
    font-size: 34px;
    color: red;
    text-shadow: 1px 1px yellow;
    margin: auto;
    
}

.about-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
p , li {
    font-family: Felt, fantasy;
}
img {
    width: 300px;
    height: 300px;
}

.yourtrainer {
    font-family: Chalkduster, fantasy;
    font-size: 34px;
    color: red;
    text-shadow: 1px 1px yellow;
    margin: auto;
}

.achievements {
    font-family: Chalkduster, fantasy;
    font-size: 34px;
    color: red;
    text-shadow: 1px 1px yellow;
    margin: auto;
}
.content {
    width: 600px;
}

.achieve {
    display: flex;
   
}

.title {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    font-family: Chalkduster, fantasy;
    font-size: 34px;
    color: red;
    text-shadow: 1px 1px yellow;
    margin: auto;
}

.hoursetc {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.aboutus {
    margin-left: 200px;
}
.memperk {
    margin-left: 350px;
}

.training {
    margin-left: 200px;
}


.info {
    display: flex;
    justify-content: s;

}
.norefund {
    color: red;
    font-weight: 800px;
    
}
footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    margin-top: 80px;
}