/* nav bar start */
* {
    margin: 0;
    border: 2px solid red;
    flex-wrap: wrap;
    
    
}
/* body {
    background-image: url('images/bricks.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }
 */
/* link control start */
a:link {
    color: none; 
}

a:visited {
    color: red;
    font-style: normal;
}

a:hover {
    color: black;
    /* background-image: linear-gradient(to right, red, black, red);*/
    text-shadow: 1px 1px red;
}

/* a:active {
    color: rgb(0, 255, 81);
} */

a:link, a:visited {
    text-decoration: none;
}
/* link control end */

/* nav bar start */
.nav-logo {
    margin-left: 80px;
}

.nav-container {
    display: flex;
    gap: 8px;
    align-items: center;
    /*background-image: */
    font-weight: 800px;
    padding: 20px; 
    justify-content: center;
    color: yellow;
    font-family: Chalkduster, fantasy;
    font-size: 18px;
    text-shadow: 1px 1px black;
    font-style: italic;
    flex-wrap: wrap;
}
.mem {
    margin-right: auto;
}

.about {
    margin-left: auto;
}
   
.payment {
    margin-right: 80px;
}
 /* nav bar end*/

 /* call to action section */
.cta-logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/* message box start */
.quote-container {
    display: flex;
    overflow: hidden;
    border: 2px red;
    height: 300px;
    background-color: #000000;
    background-image: url('images/bricks.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    margin: 0;
    margin: 8px 200px 8px 200px;
    align-items: center;
    flex-wrap: wrap;
    min-width: fit-content;
    min-height: fit-content;

   
    
}
.quote-text {
    color: red;
    font-size: 24px;
    font-style: italic;
    font-weight: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   
}

.options {
    display: flex;
    gap: 18px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px yellow;
    font-style: bold;
    flex-wrap: wrap;
}
#button  {
    font-size: 32px;
    display: flex;
    align-items: center;
    font-family: Chalkduster, fantasy;
    background-color: yellow;
    color: white;
    margin: auto;
    margin-top: 8px;
}

/* message box end */


/*third section with images */
.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 32px;
    margin-top: 8px;
    font-family: Marker Felt, fantasy;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: auto;
    outline: yellow;
    flex-wrap: wrap;  
   
}
.text {
    padding: 6px;
    text-align: center;
    font-family: Chalkduster, fantasy;
    
}

.info {
    max-width: 500px;
}

.showtime {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    margin-top: auto;
    
}

.container {
    display: flex; /* Enables Flexbox for the container */
    justify-content: space-around;
    gap: 8pxpx;
    background-color: #f63838;
    width: 900px;
    height: auto;
    align-self: center;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 75px;
    color: black;
    padding: 16px;
  }

  .click {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 16px;
  }

  .text-head {
    font-size: 24px;
    font-weight: 800;
  }

  .text-body {
    margin-top: 6px;
  }