/* nav bar start */
* {
    margin: 0;
    border: 2px solid red;
    flex-wrap: wrap;
    
}

/* link control start */
a:link {
    color: none;
}

a:visited {
    color: red;
    font-style: normal;
}

a:hover {
    color: white;
    /* background-image: linear-gradient(to right, red, black, red);*/
    text-shadow: 2px 2px black;
}

/* a:active {
    color: rgb(0, 255, 81);
} */

a:link, a:visited {
    text-decoration: none;
}
/* link control end */

/* nav bar start */
.nav-logo {
    margin-left: 80px;
}

.nav-container {
    display: flex;
    gap: 8px;
    align-items: center;
    /*background-image: */
    font-weight: 800px;
    padding: 20px; 
    justify-content: center;
    color: yellow;
    font-family: Chalkduster, fantasy;
    font-size: 32px;
    text-shadow: 1px 1px black;
    font-style: italic;
    flex-wrap: wrap;
}
/* nav bar end */

.mem {
    margin-right: auto;
}

.enroll {
    margin-left: auto;
}
   
.payment {
    margin-right: 80px;
}
 /* nav bar end*/

.cta-logo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/*third section with images */
.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 32px;
    margin-top: 18px;
    font-family: Marker Felt, fantasy;
}

/*img {
    width: 350px;
    height: 350px;
    object-fit: scale-down;
    
 } */

.boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: auto;
    outline: yellow;
    flex-wrap: wrap;  
   
}
.text {
    padding: 6px;
    text-align: center;
    font-family: Chalkduster, fantasy;
    
}

.info {
    max-width: 500px;
}

.quote-container {
    display: flex;
    height: 200px;
    background-color: #E5E7EB;
    margin: 0;
    padding: 50px 200px 50px;
    margin-top: 50px;
    align-items: center;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 50px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    
}

.container {
    display: flex; /* Enables Flexbox for the container */
    justify-content: space-around;
    gap: 8pxpx;
    background-color: #f63838;
    width: 900px;
    height: auto;
    align-self: center;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 75px;
    color: black;
    padding: 16px;
  }

  .click {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 16px;
  }

  .text-head {
    font-size: 24px;
    font-weight: 800;
  }

  .text-body {
    margin-top: 6px;
  }